In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier, ExtraTreeClassifier
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.metrics import accuracy_score
from catboost import CatBoostClassifier
from lightgbm import LGBMClassifier

In [3]:
crop = pd.read_csv('Dataset\Crop_recommendation.csv')

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\voutl\AppData\Local\Temp\ipykernel_17836\3635100330.py:1: SyntaxWarning: invalid escape sequence '\C'
  crop = pd.read_csv('Dataset\Crop_recommendation.csv')

In [4]:
crop.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [5]:
X = crop.drop('label', axis=1)
y = crop['label']

In [6]:
X.head()

    N   P   K  temperature   humidity        ph    rainfall
0  90  42  43    20.879744  82.002744  6.502985  202.935536
1  85  58  41    21.770462  80.319644  7.038096  226.655537
2  60  55  44    23.004459  82.320763  7.840207  263.964248
3  74  35  40    26.491096  80.158363  6.980401  242.864034
4  78  42  42    20.130175  81.604873  7.628473  262.717340

In [7]:
y.head()

0    rice
1    rice
2    rice
3    rice
4    rice
Name: label, dtype: object

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [10]:
X_train.shape

(1540, 7)

In [11]:
y_train.shape

(1540,)

In [12]:
X_test.shape

(660, 7)

In [13]:
y_test.shape

(660,)

In [14]:
X_train

        N   P   K  temperature   humidity        ph    rainfall
52     93  56  42    23.857240  82.225730  7.382763  195.094831
1354   82  25  51    24.313350  87.474091  6.074210   48.112484
1655    4   6   7    23.010143  91.117642  6.708890  112.673830
360     7  63  24    22.954582  24.035531  5.858618  107.731539
1609   13  23   6    23.961476  90.264080  7.365338  102.695870
...   ...  ..  ..          ...        ...       ...         ...
1033  102  71  48    28.654563  79.286937  5.695268  102.463378
1731   34  68  51    27.347349  94.177567  6.687088   40.351531
763    35  64  15    28.474423  63.536045  6.500145   69.527441
835    39  65  23    25.434598  69.126134  7.685959   41.026829
1653   14  22   9    17.249446  91.137728  6.543192  112.509052

[1540 rows x 7 columns]

In [15]:
X_test

        N    P    K  temperature   humidity        ph    rainfall
1320  105   14   50    26.214884  87.688398  6.419052   59.655908
1367   91   12   46    24.644585  85.499382  6.343943   48.312190
1291   14  121  203     9.724458  83.747656  6.158689   74.464111
264    52   73   79    17.257695  18.749440  7.840339   94.002872
728    32   66   17    34.946616  65.267740  7.162358   70.141514
...   ...  ...  ...          ...        ...       ...         ...
979    39   17   45    18.096911  90.421774  6.924491  104.881890
1689   34   11   10    31.750489  94.595512  7.362208  115.198930
1239   20  122  204    11.797647  80.863254  6.487370   65.069625
1769   54   67   52    35.676673  93.306419  6.586107  141.338117
298    40   58   75    18.591908  14.779596  7.168096   89.609825

[660 rows x 7 columns]

In [20]:
models = {
    'LogisticRegression': LogisticRegression(solver='liblinear', max_iter=1000),
    'GaussianNB': GaussianNB(),
    'SVC': SVC(probability=True),
    'KNeighborsClassifier': KNeighborsClassifier(),
    'DecisionTreeClassifier': DecisionTreeClassifier(),
    'ExtraTreeClassifier': ExtraTreeClassifier(),
    'RandomForestClassifier': RandomForestClassifier(),
    'BaggingClassifier': BaggingClassifier(),
    'GradientBoostingClassifier': GradientBoostingClassifier(),
    'AdaBoostClassifier': AdaBoostClassifier(),
    'CatBoostClassifier': CatBoostClassifier(verbose=0),
    'LGBMClassifier': LGBMClassifier(verbose=-1) 
}

In [21]:
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    score = accuracy_score(y_test, y_pred)
    print(f"\n{name} mode with accuracy: {score}")

LogisticRegression mode with accuracy: 0.95

GaussianNB mode with accuracy: 0.9939393939393939

SVC mode with accuracy: 0.9727272727272728

KNeighborsClassifier mode with accuracy: 0.9787878787878788

DecisionTreeClassifier mode with accuracy: 0.9803030303030303

ExtraTreeClassifier mode with accuracy: 0.8954545454545455

RandomForestClassifier mode with accuracy: 0.9954545454545455

BaggingClassifier mode with accuracy: 0.9893939393939394

GradientBoostingClassifier mode with accuracy: 0.9893939393939394

AdaBoostClassifier mode with accuracy: 0.21212121212121213

CatBoostError: catboost/libs/train_lib/dir_helper.cpp:20: Can't create train working dir: catboost_info