# Fertilizer Prediction Model

## Importing necessary libraries

In [5]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder

## Dataset Loading

In [3]:
fertilizer = pd.read_csv('Dataset/fertilizer Prediction.csv')

In [4]:
fertilizer.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Sandy,Maize,37,0,0,Urea
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,Urea

## Encoding the Categorical Values

In [8]:
encoder = LabelEncoder()

columns = ['Soil Type', 'Crop Type']
fertilizer[columns] = fertilizer[columns].apply(encoder.fit_transform)

In [9]:
fertilizer.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,4,3,37,0,0,Urea
1,29,52,45,2,8,12,0,36,DAP
2,34,65,62,0,1,7,9,30,14-35-14
3,32,62,34,3,9,22,0,20,28-28
4,28,54,46,1,6,35,0,0,Urea

In [10]:
x = fertilizer.drop('Fertilizer Name', axis=1)
y = fertilizer['Fertilizer Name']

In [11]:
x.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous
0,26,52,38,4,3,37,0,0
1,29,52,45,2,8,12,0,36
2,34,65,62,0,1,7,9,30
3,32,62,34,3,9,22,0,20
4,28,54,46,1,6,35,0,0

In [12]:
y.head()

0        Urea
1         DAP
2    14-35-14
3       28-28
4        Urea
Name: Fertilizer Name, dtype: object